
<div class="sponsor-det full-width">
  <div class="company-logo">{{ content.field_logo }}</div>
  <div class="company-name">{{ node.label }}</div>
  <div class="description">{{ content.body.0 }}</div>
  <div class="url"> <a href="{{ content.field_url.0 }}">{{ content.field_url.0 }}</a></div>
</div>