<div class="speaker-details full-width">
    <div class="col-md-12"><div class="title">Speaker</div></div>
    <div class="col-md-12"><div class="image">{{ content.field_photo }}</div></div>
    <div class="col-md-12"><div class="name">{{ node.label }}</div></div>
    <div class="col-md-12 socio-icons">
    	<a href="{{ content.field_linkedin_url.0 }}"><i class="fa fa-linkedin"></i></a>
    	<a href="{{ content.field_twitter_.0 }}"><i class="fa fa-twitter"></i></a>
    	<a href="{{ content.field_website.0 }}"><i class="fa fa-globe"></i></a>
    </div>
    <div class="col-md-12"><div class="description">{{ content.body }} </div>
  </div>